<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_Commerce_MVC</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@

    <!--Jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="~/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="~/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/css/style.css" />

</head>
<body>
    <!-- HEADER -->
    <header>
        <!-- top Header -->
        <div id="top-header">
            <div class="container">
                <div class="pull-left">
                    <span>Welcome to E-shop!</span>
                </div>
                <div class="pull-right">
                    <ul class="header-top-links">
                        <li><a href="#">Store</a></li>
                        <li><a href="#">Newsletter</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li class="dropdown default-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">ENG <i class="fa fa-caret-down"></i></a>
                            <ul class="custom-menu">
                                <li><a href="#">English (ENG)</a></li>
                                <li><a href="#">Russian (RU)</a></li>
                                <li><a href="#">French (FR)</a></li>
                                <li><a href="#">Spanish (Es)</a></li>
                            </ul>
                        </li>
                        <li class="dropdown default-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">USD <i class="fa fa-caret-down"></i></a>
                            <ul class="custom-menu">
                                <li><a href="#">USD ($)</a></li>
                                <li><a href="#">EUR (€)</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /top Header -->
        <!-- header -->
        <div id="header">
            <div class="container">
                <div class="pull-left">
                    <!-- Logo -->
                    <div class="header-logo">
                        <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/img/logo.png" />
                        </a>
                    </div>
                    <!-- /Logo -->
                    <!-- Search -->
                    <div class="header-search">
                        <form>
                            <input id="search_text" class="input search-input" type="text" placeholder="Search for anything">
                            <button id="search_btn" class="search-btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!-- /Search -->
                </div>
                <div class="pull-right">
                    <ul class="header-btns">
                        <!-- Account -->
                        <li class="header-account dropdown default-dropdown">
                            <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                                <div class="header-btns-icon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <strong class="text-uppercase">My Account <i class="fa fa-angle-down"></i></strong>
                            </div>
                            <a asp-area="" asp-controller="Account" asp-action="Register">Sign up</a>/<a asp-area="" asp-controller="Account" asp-action="Login">Sign in</a>
                            <ul class="custom-menu">
                                <li><a href="#"><i class="fa fa-user"></i> My Account</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i> My Wishlist</a></li>
                                <li><a href="#"><i class="fa fa-exchange"></i> Compare</a></li>
                                <li><a href="#"><i class="fa fa-check"></i> Checkout</a></li>
                                <li><a href="#"><i class="fa fa-unlock-alt"></i> Login</a></li>
                            </ul>
                        </li>
                        <!-- /Account -->
                        <!-- Wishlist -->
                        <li class="header-account dropdown default-dropdown">
                            <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                                <div class="header-btns-icon">
                                    <a asp-controller="Wishlist" asp-action="Index"><i class="fa fa-heart"></i></a>
                                </div>
                            </div>
                        </li>
                        <!-- /Wishlist -->
                        <!-- Basket -->
                        <li class="header-account dropdown default-dropdown">
                            <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                                <div class="header-btns-icon">
                                    <a asp-controller="Basket" asp-action="Index"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </li>
                        <!-- /Basket -->
                        <!-- Mobile nav toggle-->
                        <li class="nav-toggle">
                            <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
                        </li>
                        <!-- / Mobile nav toggle -->
                    </ul>
                </div>
            </div>
            <!-- header -->
        </div>
        <!-- container -->
    </header>
    <!-- /HEADER -->

    @RenderBody()

    <!-- FOOTER -->
    <footer id="footer" class="section section-grey">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- footer widget -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="footer">
                        <!-- footer logo -->
                        <div class="footer-logo">
                            <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/img/logo.png" />
                            </a>
                        </div>
                        <!-- /footer logo -->

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>

                        <!-- footer social -->
                        <ul class="footer-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                        <!-- /footer social -->
                    </div>
                </div>
                <!-- /footer widget -->
                <!-- footer widget -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-header">My Account</h3>
                        <ul class="list-links">
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Compare</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Login</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /footer widget -->

                <div class="clearfix visible-sm visible-xs"></div>

                <!-- footer widget -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-header">Customer Service</h3>
                        <ul class="list-links">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Shiping & Return</a></li>
                            <li><a href="#">Shiping Guide</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /footer widget -->
                <!-- footer subscribe -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-header">Stay Connected</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <form>
                            <div class="form-group">
                                <input class="input" placeholder="Enter Email Address">
                            </div>
                            <button class="primary-btn">Join Newslatter</button>
                        </form>
                    </div>
                </div>
                <!-- /footer subscribe -->
            </div>
            <!-- /row -->
            <hr>
            <!-- row -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <!-- footer copyright -->
                    <div class="footer-copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <!-- /footer copyright -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </footer>
    <!-- /FOOTER -->
    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - E_Commerce_MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@



    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@

    <!-- jQuery Plugins -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/nouislider.min.js"></script>
    <script src="~/js/jquery.zoom.min.js"></script>
    <script src="~/js/main.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>

@section Scripts{

    <script>

        $(document).ready(function () {

            //SearchProduct(live)-----------------------------------------------------------------------------//

            //$('#search_text').keyup(function () {
            //    var _search = ($("#search_text").val()).trim().toLowerCase();
            //    console.log(_search);

            //    if (_search != '' && _search != null && _search != undefined) {
            //        $("#ProductTableData").empty();

            //        $.ajax({
            //            type: "Post",
            //            url: "/Admin/Product/SearchedProduct",
            //            data: { search: _search },
            //            success: function (response) {

            //                if (response != 0 && response != null) {
            //                    for (let f of response) {

            //                        $("#ProductTableData").append(`<tr><td>${f.id}</td><td>${f.name}</td><td>${f.price}</td><td><a href="/Admin/Product/Edit/${f.id}">Edit</a> | <a href="/Admin/Product/Details/${f.id}">Details</a> | <a href="/Admin/Product/Delete/${f.id}">Delete</a></td></tr>`);
            //                    }

            //                    //$.each(response, function (index, value) {
            //                    //    var data = "<tr>" +
            //                    //        "<td>" + value.id + "</td>" +
            //                    //        "<td>" + value.name + "</td>" +
            //                    //        "<td>" + value.price + "</td>" +
            //                    //        "<tr>";
            //                    //    $("#ProductTableData").append(data);
            //                    //});
            //                }
            //            }

            //        });
            //    }
            //    else if (_search == '') {
            //        $("#ProductTableData").empty();

            //        $.ajax({
            //            type: "Post",
            //            url: "/Admin/Product/SearchedProduct",
            //            data: { search: _search },
            //            success: function (response) {

            //                if (response != 0 && response != null) {
            //                    for (let f of response) {

            //                        $("#ProductTableData").append(`<tr><td>${f.id}</td><td>${f.name}</td><td>${f.price}</td><td><a href="/Admin/Product/Edit/${f.id}">Edit</a> | <a href="/Admin/Product/Details/${f.id}">Details</a> | <a href="/Admin/Product/Delete/${f.id}">Delete</a></td></tr>`);
            //                    }
            //                }
            //            }

            //        });
            //    }

            //});

            //SearchProduct-----------------------------------------------------------------------------------//

            $("#search_btn").click(function () {

                alert("vnj");

                var _search = ($("#search_text").val()).trim().toLowerCase();

                if (_search != '' && _search != null && _search != undefined) {
                    $("#ProductTableData").empty();

                    $.ajax({
                        type: "Post",
                        url: "/Admin/Product/SearchedProduct",
                        data: { search: _search },
                        success: function (response) {

                            if (response != 0 && response != null) {
                                for (let f of response) {

                                    $("#ProductTableData").append(`<tr><td>${f.id}</td><td>${f.name}</td><td>${f.price}</td><td><a href="/Admin/Product/Edit/${f.id}">Edit</a> | <a href="/Admin/Product/Details/${f.id}">Details</a> | <a href="/Admin/Product/Delete/${f.id}">Delete</a></td></tr>`);
                                }
                            }
                        }

                    });
                }
            });

        });


    </script>

}