@model E_Commerce_MVC.Models.Account.Login

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/RegisterLoginLayout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-4 signup-form">
        <form asp-action="Login">

            <h2>Sign in</h2>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger errorMessage"></div>

            <div class="form-group">
                <input type="submit" value="Sign in" class="btn btn-lg btn-block signup-btn" />
                <div class="text-center">Already have not an account? <a asp-controller="Account" asp-action="Register">Create an Account</a></div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
